<div class="head">
    <p>Descubre porque te conviene visitarnos</p>
</div>

<div class="container">
    <div class="row mb-3">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn-icons-png.flaticon.com/512/1787/1787203.png" class="card-img-top" alt="..." style="width: 50px; height: auto; display: block; margin: auto;">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;">Precios excelentes</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn-icons-png.flaticon.com/512/2771/2771406.png" class="card-img-top" alt="..." style="width: 50px; height: auto; display: block; margin: auto;">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;">El mejor sabor</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn-icons-png.flaticon.com/512/2150/2150358.png" class="card-img-top" alt="..." style="width: 50px; height: auto; display: block; margin: auto;">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;">Buen ambiente</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://st3.depositphotos.com/11956860/18392/v/450/depositphotos_183928008-stock-illustration-logo-icon-for-communication-media.jpg" class="card-img-top" alt="..." style="width: 50px; height: auto; display: block; margin: auto;">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;">Excelente ubicacion</p>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row mb-3">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://thumbs.dreamstime.com/b/icono-negro-de-la-comodidad-casera-muestra-del-vector-en-fondo-aislado-s%C3%ADmbolo-casero-concepto-ejemplo-133186834.jpg" class="card-img-top" alt="..." style="width: 50px; height: auto; display: block; margin: auto;">
                    <div class="card-body">
                        <p class="card-text" style="text-align: center;">Comodidad</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn-icons-png.flaticon.com/128/2833/2833463.png" class="card-img-top" alt="..." style="width: 50px; height: auto; display: block; margin: auto;">
                    <div class="card-body">
                        <p class="card-text" style="text-align: center;">Envios a domicilio</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://us.123rf.com/450wm/dxinerz/dxinerz1504/dxinerz150400255/38424649-etiqueta-oferta-oferta-imagen-de-icono-de-etiqueta-de-descuento-tambi%C3%A9n-se-puede-usar-para-comercio-.jpg" class="card-img-top" alt="..." style="width: 50px; height: auto; display: block; margin: auto;">
                    <div class="card-body">
                        <p class="card-text" style="text-align: center;">Promociones</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://png.pngtree.com/png-vector/20191016/ourlarge/pngtree-interactive-kids-video-games-gamepad-vector-icon-png-image_1803977.jpg" class="card-img-top" alt="..." style="width: 50px; height: auto; display: block; margin: auto;">
                    <div class="card-body">
                        <p class="card-text" style="text-align: center;">Zona de juegos</p>
                    </div>
                </div>
            </div>




        </div>




    </div>
</div>