p {
    margin-top: 20px;
    margin-left: 700px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.map-area {
    margin-left: 600px;
    margin-right: 695px;
    align-items: center;
    align-content: center;
    border-style: groove;
}