<div class="head">
    <p>Disfruta de nuestros variados platillos</p>
</div>

<section class="text-center my-5">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-danger" routerLinkActive="router-link-active" routerLink="platillos">Platillos</button>
        <button type="button" class="btn btn-warning" routerLinkActive="router-link-active" routerLink="bebidas">Bebidas</button>
        <button type="button" class="btn btn-success" routerLinkActive="router-link-active" routerLink="vegetarianos">Vegetarianos</button>
    </div>
</section>


<router-outlet></router-outlet>